
    .section-contact{
         
    }

    .contact-background{
        /*background: linear-gradient(90deg,#0e3959 0%,#0e3959 30%,#03a9f5 30%,#03a9f5 100%);*/
        background: url(../images/background2.webp);
        background-attachment: fixed;
        height: 100vh;
        position: relative;   

    }
    .form{
        grid-area: form;
    }
    .info{
        grid-area: info;
    }
    .map{
        grid-area: map;
    }
    .contact{
        padding: 30px 20px 20px 20px;
        
        /*box-shadow: 0 5px 35px  ;*/
    }

    .box{
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows:5fr 4fr ;
        grid-template-areas: 
        "form info"
        "form map" ;
        grid-gap: 20px;
        

    }
    .contact h3{
        /*color: #0e3959;*/
        color: var(--whitecolor);
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    /*_______Form_________*/

    .form-box{
        position: relative;
        width: 100%;
    }
    .form-box .row50{
        display: flex;
        gap: 20px;   
    }
    .input-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 50%;
    }

    .form-box .row100 .input-box{
        width: 100%;
    }
    .input-box span{
        color: var(--maincolor);
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    .input-box input{
        padding: 10px;
        font-size: 15px;
        outline: none;
        border: 1px solid #333;

    }

   .input-box textarea{
    padding: 10px;
    font-size: 16.2px;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;   
    }
.input-box input[type="submit"]{
    background: #6195ff;
    color: var(--whitecolor);
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    cursor: pointer;
    font-weight: 500;
    padding: 14px 15px;
    border-radius: 40px;
}
input::placeholder{
    color:#999;
}

/* info */
 .info{
   /* background-color: black;*/
 }
 .info h3{
     color: var(--whitecolor);
 }
 .info .info-box div{
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 }
 .info .info-box div span{
     min-width: 40px;
     height: 40px;
     color: var(--whitecolor);
     background:var(--maincolor);

     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5em;
     border-radius: 50px;
     margin-right: 15px;
     font-size: 1.5em;

 }

 .info .info-box div p{
     color: var(--whitecolor);
     font-size: 1.1em;
 }
 .info .info-box div a{
    color: var(--whitecolor);
    font-size: 1.1em;
}

.sci{
    margin-top: 30px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover{
    color: var(--whitecolor);
}

/*--------Map*/
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 90%;
}
/*___________________________________________________*/
@media screen and (max-width:850px) {

    /*Contact Section*/

    .section-contact .contact-background{
     /*height: 100vh;*/
     position: static;
     height: auto;

     
 }

 .contact-background .overlay{
     position: static;
     height: auto;
     
 }
   

    .box{
     grid-template-columns:1fr;
     grid-template-rows:auto ;
     grid-template-areas: 
     "info "
     "form "
     "map" ;
     grid-gap: 20px;
     margin-top: 20px;

 }
 .form-box .row50{
     display: flex;
     flex-direction: column;
     gap: 0;   
 }
 .input-box{
     width: 100%;
 }

 .contact{
     padding: 30px;
 }
 .map{
     min-height: 300px;
     padding: 0;

 }
}