footer{
    margin-top: 25px;
    background-color: #1c1d21;
    width: 100%;
    height: auto;
    padding: 40px 0 20px 0;
    }
    
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.aboutus img{
    width: 110px;   
}

.footer-content .sec h2{
  position: relative;
  color: var(--whitecolor);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
  margin-top: 9px;
}
.footer-content .sec h2::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 1px;
    background: var(--maincolor);
}
.footer-content .sec p{
    color:#f7f7f7;
}
.aboutus .sci li a{
    font-size: 20px;
    background: var(--maincolor);
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.aboutus .sci li a:hover{
    background: var(--hovercolor);
}

/*Second Column*/
.quiclinks{
    position: relative;
}
.quiclinks li{
    list-style: none;
}
.quiclinks li a{
    color:var(--whitecolor);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quiclinks li a:hover{
    color:var(--hovercolor) ;
}
.contact-footer-info{
    position: relative;
}
.contact-footer-info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;   
}
.contact-footer-info li span:nth-child(1){
    color: var(--whitecolor);
    font-size: 20px;
}
.contact-footer-info li span{
    color: var(--whitecolor);
}
.contact-footer-info a {
    color: var(--whitecolor);
}
.contact-footer-info a:hover{
    color:var(--hovercolor) ;
}

    footer .copyright{
        color: #999;
        width: 100%;
        padding: 30px 0 0 0 ;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
    }
    
    footer .copyright .lastletter{
        color: var(--maincolor);
    }
/*____________________________________________________________*/
@media screen and (max-width:850px) {


    footer{
        padding: 40px
    }
    .footer-content{

        grid-template-columns: repeat(2,1fr)
    }
}

@media screen and (max-width:760px) {
.footer-content{
grid-template-columns: repeat(1,1fr)
}
}
    